
/* nav bar */

/* end navbar */


 /* souphen Business */
 *{
    margin: 0;
    padding: 0;
 }
 .line{
    width: 100%;
    height: 2px;
    background-color: aliceblue;

 }
 .line .line-blue {
    width: 10%;
    height: 2px;
    background-color: blue ;
 }
 .img-1{
    width: 100%;
    height: 280px;
    cursor: pointer;
    overflow: hidden;
 }
 .img-1 img{
    width: 100%;
    height: 200px ;
    object-fit: cover;

 }
 .img-1 h4{
    margin-top: 20px ;
    transition: all .3s ;
 }
 .img-1:hover img{
    opacity: 0.9;
 }
 .img-1:hover h4{
    color: blue;
 }
 .img-text{
    width: 100%;
    height: 85px ;
    overflow: hidden;

 }
 .img-text img {
    height: 100%;
    height: 100%;
    object-fit: cover ;
 }
 .img-text:hover img{
    opacity: 0.9;
 }
 .img-text:hover h6{
    color: blue;
 }
 .line-Social{
    width: 100%;
    height: 2px;
    background-color: aliceblue;

 }
 .line-Social .line-blue {
    width: 35%;
    height: 2px;
    background-color: blue ;
 }
 .icon{
    width: 100%;
    height: 200px;
    cursor: pointer;
 }
 .icon h5{
    margin-top: 5px ;
    line-height: 40px ;
    font-size: 20px ;
  transition: all 0.3s ;
 }
 .icon h5:hover{
    color: blue ;
 } 

 .line-Popular{
    width: 100%;
    height: 2px;
    background-color: aliceblue;

 }
 .line-Popular .line-blue {
    width: 25%;
    height: 2px;
    background-color: blue ;
 }

 .line-Latest{
    width: 100%;
    height: 2px;
    background-color: aliceblue;

 }
 .line-Latest .line-blue {
    width: 25%;
    height: 2px;
    background-color: blue ;
 }


 .logo img {
   width: 220px;
 }
.ads img {
   text-align: center;
   float: right;
}
 .header-top {
   background: #FFF;
   box-shadow: 1px 0px 8px #DDD;
   padding: 20px 0px;
 }

 .nav-link {
   text-transform: uppercase;
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   margin-right: 14px;
   font-weight: 700;
 }
 .dropdown-menu {
   min-width: 200px;
   -webkit-animation: dropdown-animation 0.3s;
   animation: dropdown-animation 0.3s;
   -webkit-transform-origin: top;
   -ms-transform-origin: top;
   transform-origin: top;
 }

@-webkit-keyframes navbar-animation {
 0% {
   opacity: 0;
   -webkit-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   transform: translateY(-100%);
 }
 100% {
   opacity: 1;
   -webkit-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);
 }
}
@keyframes navbar-animation {
 0% {
   opacity: 0;
   -webkit-transform: translateY(-100%);
   -ms-transform: translateY(-100%);
   transform: translateY(-100%);
 }
 100% {
   opacity: 1;
   -webkit-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);
 }
}
@-webkit-keyframes dropdown-animation {
 0% {
   -webkit-transform: scaleY(0);
   -ms-transform: scaleY(0);
   transform: scaleY(0);
 }
 75% {
   -webkit-transform: scaleY(1.1);
   -ms-transform: scaleY(1.1);
   transform: scaleY(1.1);
 }
 100% {
   -webkit-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
 }
}
@keyframes dropdown-animation {
 0% {
   -webkit-transform: scaleY(0);
   -ms-transform: scaleY(0);
   transform: scaleY(0);
 }
 75% {
   -webkit-transform: scaleY(1.1);
   -ms-transform: scaleY(1.1);
   transform: scaleY(1.1);
 }
 100% {
   -webkit-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
 }
}

.dropdown-menu {
   background-color: #FFF;
   box-shadow: 1px 0px 8px #ddd;
   border-radius: 0;
   border: none;
   padding: 15px 0;
}

